body {
    background-color: #292727;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
.container {
    width: 400px;
    margin: 80px auto;
    /* border: 5px solid black; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(117, 115, 115, 0.5);
}
.container h1{
    margin-bottom: 20px;
    color: #ffcc00;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
#todo-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

#add-task-btn{
    background-color: #ffcc00;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}
/* #delet-task-btn{
    background-color: #a42222;
    color: rgb(241, 236, 236);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
} */
#add-task-btn:hover{
    background-color: #a7890f;
}
/* #delet-task-btn:hover{
    background-color: #de1401;
} */
#todo-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#todo-list li {
    background-color: #333;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}

